body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #4da6ff, #253690);

    /* Căn giữa form */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 320px; 
    max-height: 90vh; 
    overflow-y: auto;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
h2 {
    text-align: center;
}

/* Input */
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"] {
    background-color: #4da6ff;
    color: white;
}
button[type="reset"] {
    background-color: #ccc;
}
textarea {
    height: 80px;
}
input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}